<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NHIS.My.MySettings.dbConStr" connectionString="server=localhost;user id=root;database=nhis"
            providerName="MySql.Data.MySqlClient" />
        <add name="NHIS.My.MySettings.dbConStrRemote" connectionString="server=192.168.244.226;user id=admin;password=admin1234;database=nhis"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
